@mixin center-text {
    text-align: center;
}

@mixin horiz-center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

@mixin vert-center {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

@mixin rel-horiz-center {
  position: relative;
  margin: auto;
}

@mixin center-text {
  text-align: center;
}